<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>AEROLAB GCS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.jpg') }}">
</head>
<body>
    <nav>
       <img  src="C:/Users/SIKIRU/Desktop/Droneproject/Groundstationapp/images/icon.jpg" alt="" >
       <h1 id="clock"></h1>
       <form action="{{ url_for('logout') }}">
           <button class="logout">Logout</button>
       </form>

    </nav>
    <section>
    {% extends "layout.html" %}
    {% block body %}
    <div class="msg">{{ msg }}</div>

    </section>

    <footer>

        <div class="grid-container">
            <div class="container">
               <form action="{{url_for('connect_ground_station')}}" class="server-init" method="post">
                <button style="font-size: 1.5em; background-color:green; border-radius: 5px; border:none; padding:5px;font-family: monospace;" name="cmd" value="server">CONNECT SERVER</button>
               </form>
            </div>
            <div class="container">
                <form method="post" enctype=multipart/form-data action="{{url_for('upload_file')}}" class="submit-file" >
                    <input type="file" name="file" id="select-file" class="select-file">
                    <input type="submit" id="upload-file" value="Upload">
                </form>
            </div>
            <div class="container">
                <form action="{{url_for('select_drone')}}" class="drone-selection" method="post">
                    <label for="drone-id"> Select Drone</label>
                    <input type="number" name="drone-id" id="drone-id">
                    <button style="border: none; font-family:monospace; font-weight:bold; border-radius:3px; background-color: yellow;" name="cmd" value="rtl">RTL</button>
                    <button style="border: none; font-family:monospace; font-weight:bold; border-radius:3px; background-color: green;" name="cmd" value="land" >LAND</button>
                    <button style="border: none; font-family:monospace; font-weight:bold; border-radius:3px; background-color: rgb(233, 42, 42);" name="cmd" value="disarm">DISARM</button>
                </form>

            <div class="swarm-button">
                <form action="{{url_for('send_commands')}}" class="takeoff" method="post">
                    <button style="font-size: 1.5em; background-color: red; border-radius: 5px; border:none; padding:5px;font-family: monospace;" name="cmd" value="arm">TAKE-OFF</button>
                    <!--input type="text" name="cmd" placeholder="action"-->
                    <!--input type="submit" value="TAKEOFF"-->
                </form>
                <form action="{{url_for('send_commands')}}"  method="post">
                <button style="font-size: 1.5em; background-color:white; border-radius: 5px; border:none; padding:5px;font-family: monospace;" name="cmd" value="test">LIGHT</button>
                </form>
                <form action="{{url_for('send_commands')}}"  method="post">
                <button style="font-size: 1.5em; background-color:rgb(49, 166, 245); border-radius: 5px; border:none; padding:5px;font-family: monospace;" name="cmd" value="start">DANCE</button>
                </form>
                <form action="{{url_for('send_commands')}}"  method="post">
                <button style="font-size: 1.5em; background-color:green; border-radius: 5px; border:none; padding:5px;font-family: monospace;" name="cmd" value="land">LAND</button>
                </form>
                <form action="{{url_for('send_commands')}}"  method="post">
                <button style="font-size: 1.5em; background-color:red; border-radius: 5px;border:none; padding:5px;font-family: monospace;" name="cmd" value="disarm">DISARM</button>
                </form>
            </div>
            </div>
        </div>
    </footer>

</body>
<script>
    setInterval(showTime, 1000);
    function showTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        am_pm = "AM";

        if (hour >= 12) {
            hour -= 12;
            am_pm = "PM";
        }
        if (hour == 0) {
            hr = 12;
            am_pm = "AM";
        }

        hour = hour < 10 ? "0" + hour : hour;
        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;

        let currentTime = hour + ":"
            + min + ":" + sec + am_pm;

        document.getElementById("clock")
            .innerHTML = currentTime;
    }

    showTime();
</script>
{% endblock %}
</html>