<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AEROLAB DRONESHOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="space">
        <div class="container">
            <h1>WELCOME TO THE GROUNDSTATION</h1>
            <h2>Connect to socket server</h2>
            <form action="{{url_for('connect_ground_station')}}"  method="post">
                <input type="text" name="number_of_drones" placeholder="drones">
                <input type="submit" name="" value='connect'>
            </form>
        </div></br></br></br>
        <div class="container">
            <h2>Send commands here</h2>
            <form action="{{url_for('send_commands')}}"  method="post">
                <input type="text" name="command" placeholder="action">
                <input type="submit" value="send">
            </form>
        </div></br></br></br>
        <div align="" class="container">
            <h1>Upload new File</h1>
            <form method=post enctype=multipart/form-data action="{{url_for('upload_file')}}">
            <input type=file name=file>
            <input type=submit value=Upload>
            </form>
        </div></br></br></br>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </main>
    <!-- javascript -->
</body>
</html>